.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid #999;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 15px;
    height: 15px;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
}

.a-card.bg {
    background-color: #227bab;
  }

.skills {
    background-color: #fff;
    padding: 10px;
}

.c-wrapper {
    padding: 0;
}